<div class= "flex flex-wrap justify-center content-center flex-col">
    <div class="py-4 text-lg text-center font-semibold">
        <div class="font-bold text-2xl text-indigo-500">Edit Profile</div>
        <br>
        <hr>
<div class="flex flex-col text-left text-sm font-normal w-full justify-center">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email",
    class: "bg-gray-200 appearance-none border-2 border-gray-200 rounded w-72 py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" %>
  </div>


  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password",
    class: "bg-gray-200 appearance-none border-2 border-gray-200 rounded w-72 py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password",
    class: "bg-gray-200 appearance-none border-2 border-gray-200 rounded w-72 py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password", 
    class: "bg-gray-200 appearance-none border-2 border-gray-200 rounded w-72 py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" %>
  </div>

  <div class="actions">
    <%= f.submit "Update", class:"w-72 text-center py-2 text-white font-bold bg-indigo-500 rounded-md hover:bg-indigo-900 text-white" %>
  </div>
<% end %>
<div>
<p>Unhappy? Cancel my account <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class:"w-72 text-center py-2 text-white font-bold bg-indigo-500 rounded-md hover:bg-indigo-900 text-white" %></p>
</div>
<br>
<%= link_to "Back", :back, class:"w-72 text-center py-2 text-white font-bold bg-indigo-500 rounded-md hover:bg-indigo-900 text-white" %>
</div>

</div>