<br>
  <div class="items-center text-center py-5 text-2xl text-indigo-500">
    <div>
      Tasks under Category: <div class="font-bold"><%= @category.name%></div>
      <br>
      
    </div>
    <div><%= link_to 'Back', categories_path, class: "py-1 pl-5 pr-5 bg-transparent border-2 text-indigo-500 border-indigo-500 text-lg rounded-lg hover:bg-indigo-500 hover:text-white focus:border-4" %></div>
    <br>
    <hr>
    <br>
    <div class="">
      <%= link_to '+ New Task', new_category_task_path(params[:category_id]), class: "py-1 pl-5 pr-5 bg-transparent border-2 text-indigo-500 border-indigo-500 text-lg rounded-lg hover:bg-indigo-500 hover:text-white focus:border-4" %>
    </div>
    </div>
    <% @category.tasks.each do |task| %>
     <% if task.persisted? %>
      <div class="flex flex-col w-screen space-y-2 w-full justify-center">
        <div class="py-5 w-6/12 bg-indigo-500 flex flex-col space-y-5 mx-auto rounded-3xl shadow-xl hover:rotate-1 transition-transform text-center justify-center">
          <div class=" font-medium font-bold text-white text-xl tracking-wide text-center"><%= task.name %></div>
          <div class="text-base tracking-wide text-white text-center"><%= task.description %></div>
          <div class="text-base tracking-wide text-white text-center"><%= task.date %></div>
            <div class="flex text-center justify-center">
              <%if task.status == 'not-started'%>
                <h3 class="p-2 pl-5 pr-5 bg-red-500 w-max text-gray-100 text-lg rounded-lg"><%= task.status %></h3>
              <%else%>
                <h3 class="p-2 pl-5 pr-5 bg-green-500 w-max text-gray-100 text-lg rounded-lg"><%= task.status %></h3>
              <%end%>              
            </div>
            <div class="flex flex-row justify-center space-x-2">
                <div class=""><%= link_to 'Show', [task.category, task], class: "py-1 pl-5 pr-5 bg-transparent border-2 text-white border-white-500 text-lg rounded-lg hover:bg-white hover:text-indigo-500 focus:border-4"%></div>
                <div class=""><%= link_to 'Edit', edit_category_task_path(task.category, task), class: "py-1 pl-5 pr-5 bg-transparent border-2 text-white border-white-500 text-lg rounded-lg hover:bg-white hover:text-indigo-500 focus:border-4" %></div>
                <div class=""><%= link_to 'Delete', [task.category, task], method: :delete, data: { confirm: 'Are you sure?' }, class: "py-1 pl-5 pr-5 bg-transparent border-2 text-white border-white-500 text-lg rounded-lg hover:bg-white hover:text-indigo-500 focus:border-4" %></div>
            </div>
        </div>
        <% end %>
      <% end %>
