<!DOCTYPE html>
<html>
  <head>
    <title>Task planner app</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <nav class="bg-indigo-500 shadow dark:bg-gray-800">
    <div
      class="container px-6 py-3 mx-auto md:flex md:justify-between md:items-center"
    >
      <div class="flex items-center justify-between">
        <div>
          <a
            class="text-xl font-bold text-white md:text-2xl"
            href="/categories"
            >Task Planner App</a
          >
        </div>

        <!-- Mobile menu button -->
        <div class="flex md:hidden">
          <button
            type="button"
            class="text-gray-500"
          >
          </button>
        </div>
      </div>

      <div class="items-center md:flex">
        <div class="flex flex-col md:flex-row md:mx-6">
          <a
            class="flex content-center text-gray-700 md:mx-4 md:my-0"
            >
                <% if user_signed_in? %>
                  <div class = "py-2 flex flex-column text-center font-semibold text-white">Logged in as: <div class="font-bold px-2"><%= current_user.email %></div></div>
                <%= link_to 'Edit Profile', edit_user_registration_path, class:"py-1 pl-5 pr-5 bg-transparent border-2 text-white border-white-500 text-lg rounded-lg hover:bg-white hover:text-indigo-500 focus:border-4" %>
                <%= link_to "Logout", 
                destroy_user_session_path, 
                method: :delete,
                class: "py-1 pl-5 pr-5 bg-transparent border-2 text-white border-white-500 text-lg rounded-lg hover:bg-white hover:text-indigo-500 focus:border-4"
                %>   
                <% end %>                 
            </a>       
      </div>
    </div>
  </nav>
    <p class="text-green-600"><%= notice %></p>
    <p class="text-red-600"><%= alert %></p>
    <%= yield %>
  </body>
</html>
